<div class="container">
  <h2 style="margin-top: 50px;">Shop</h2>
  <hr />
  <div class="row">
    {{#each items}}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{{this.featureImage}}" class="card-img-top" alt="{{this.title}}">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.body}}</p>
            <p class="card-text"><strong>Price:</strong> ${{this.price}}</p>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    {{/each}}
    {{#unless items.length}}
      <div class="col-md-12">
        <strong>No items available at the moment.</strong>
      </div>
    {{/unless}}
  </div>
</div>
